$dodger-blue: #3B82F6;
$white: #ffffff;
$mischka: #D1D5DB;
$oxford-blue:  #2D3748;
$river-bed: #4a5568;
$light-gray: #a0aec0;
$danger: #fa0000;
$danger-hover: #c53030;
$hover-primary: #044dec;
$shadow: rgba(0, 0, 0, 0.1);

$myFontSize-large: 2rem;
$myFontSize-medium: 1.25rem;
$myFontSize-small: 1.125rem;
$myFontSize-extra-small: 0.5rem;

$transition-duration-fast: 0.2s;
$transition-duration-slow: 0.9s;